*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.lista-de-estoques h2 {
    margin: 40px 30px;
    color: rgb(73, 71, 71);
}

.lista-de-estoques p {
    color: rgb(73, 71, 71);
    font-weight: bold;
}

.lista-de-estoques ul {
    margin: 8px;
}

.lista-de-estoques button {
    width: 175px;
    margin: 5px;
}

span {
    margin: 0 0 0 18px;
    color:  rgb(91, 99, 153);
    font-weight: bold;
}




